# Project: Road Accidents in France (2005â€“2023)
Based on the Annual Road Traffic Accident Injury Database (BAAC)

---

## Overview

This project aims to **predict the severity of road accidents in France** using historical data collected between 2005 and 2023. The data is sourced from the BAAC (Bulletin dâ€™Analyse des Accidents Corporels de la Circulation) and includes detailed records of injury accidents.

The main objectives include:

1. Studying and cleaning the dataset.
2. Extracting relevant characteristics for severity prediction.
3. Developing a model to evaluate accident severity.
4. Scoring risk zones using:
   - Meteorological information
   - Geographic data

Once trained, the model will be validated against historical data.

---

## Data Description

Each accident involving injuriesâ€”occurring on public roads, involving at least one vehicle, and resulting in at least one medically treated victimâ€”is recorded by a law enforcement unit (e.g., police, gendarmerie). This information is compiled into the *Injury Accident Analysis Bulletin*. These bulletins form the national **BAAC File**, administered by the **National Interministerial Road Safety Observatory (ONISR)**.

The datasets cover all injury-related road accidents across:

- **Mainland France**
- **Overseas Departments**: Guadeloupe, French Guiana, Martinique, RÃ©union, and Mayotte (since 2012)
- **Overseas Territories**: Saint-Pierre and Miquelon, Saint-BarthÃ©lemy, Saint-Martin, Wallis and Futuna, French Polynesia, New Caledonia (since 2019)

---

## Data Source and Storage

Data was downloaded from:  
ðŸ”— [data.gouv.fr â€“ BAAC Datasets](https://www.data.gouv.fr/en/datasets/bases-de-donnees-annuelles-des-accidents-corporels-de-la-circulation-routiere-annees-de-2005-a-2023/)  
Saved under: `data/raw/`

The annual data files include:

- `CaractÃ©ristiques` â€“ Accident characteristics
- `Lieux` â€“ Location data
- `VÃ©hicules` â€“ Vehicle details
- `Usagers` â€“ User information

An additional dataset, `vehicules-immatricules-baac` (registered vehicles, 2009â€“2022), is available but **not used currently** due to incomplete yearly coverage, which could hinder machine learning performance.

All filenames have been standardized to the format:  
`category_year.csv` (e.g., `Caracteristiques_2020.csv`)

---

## Data Integration

To streamline processing and analysis, all files are joined using the `num_acc` (accident ID) column, forming a unified dataset for each accident. 

---

## Column Reference

The following table provides a detailed description of key columns across the datasets. Each variable is encoded; refer to the accompanying documentation for complete details:

- `description-des-bases-de-donnees-annuelles.pdf` â€“ (in French)
- `Caracteristics.docx` â€“ (English translation of column meanings)  
Both documents are stored in the `references/` folder.

Short description of the columns 
| Column                | Description |
|-----------------------|-----------------------------------|
| **num_acc**           | Unique identifier of the accident, assigned by the law enforcement. Join key between the files characteristics, locations, vehicles and users. |
| **an**                | Year of the accident. |
| **mois**              | Month of the accident. |
| **jour**              | Day of the accident. |
| **hrmn**              | Hour and minutes of the accident (format hhmm). |
| **lum**               | Lighting conditions at the time of the accident: 1 = Full daylight, 2 = Twilight or dawn, 3 = Night without public lighting, 4 = Night with public lighting not lit, 5 = Night with public lighting lit. |
| **agg**               | Urban area indicator: 1 = Outside urban area, 2 = Inside urban area. |
| **int**               | Type of intersection: 1 = Outside intersection, 2 = Intersection in X, 3 = Intersection in T, 4 = Intersection in Y, 5 = More than 4 branches, 6 = Roundabout, 7 = Square, 8 = Level crossing, 9 = Other intersection. |
| **atm**               | Atmospheric conditions at the time of the accident: -1 = Not specified, 1 = Normal, 2 = Light rain, 3 = Heavy rain, 4 = Snowâ€“hail, 5 = Fogâ€“smoke, 6 = Strong windâ€“storm, 7 = Dazzling, 8 = Overcast, 9 = Other. |
| **col**               | Type of collision: -1 = Not specified, 1 = Two vehicles â€“ head-on, 2 = Two vehicles â€“ rear-end, 3 = Two vehicles â€“ side, 4 = Three vehicles or more â€“ in chain, 5 = Three vehicles or more â€“ multiple collisions, 6 = Other collision, 7 = Without collision. |
| **com**               | INSEE code of the municipality of the accident. |
| **adr**               | Postal address of the accident, when the accident is located inside urban area. |
| **gps**               | GPS coordinates (raw text). |
| **lat**               | Latitude (decimal degrees). |
| **long**              | Longitude (decimal degrees). |
| **dep**               | INSEE department code of the accident. |
| **catr**              | Road category: 1 = Highway, 2 = National road, 3 = Departmental road, 4 = Communal road, 5 = Outside public network, 6 = Parking lot, 7 = Urban metropolitan road, 9 = Other. |
| **voie**              | Name or number of the road at the place of the accident. |
| **v1**                | Numeric sub-identifier for the road (e.g., "2 bis" expressed as number). |
| **v2**                | Alphanumeric sub-identifier for the road. |
| **circ**              | Traffic regime: -1 = Not specified, 1 = One way, 2 = Two way, 3 = Separated carriageways, 4 = Variable. |
| **nbv**               | Number of lanes for vehicles at the section of the road where the accident happened. |
| **pr**                | PR number (reference point, upstream terminal) â€” -1 if not filled. |
| **pr1**               | Distance to PR in meters (relative to the upstream terminal) â€” -1 if not filled. |
| **vosp**              | Reserved lane: -1 = Not specified, 0 = Not applicable, 1 = Cycle track, 2 = Cycle lane, 3 = Reserved lane. |
| **prof**              | Longitudinal profile of the road: -1 = Not specified, 1 = Flat, 2 = Slope, 3 = Top of hill, 4 = Bottom of hill. |
| **plan**              | Road plan: -1 = Not specified, 1 = Straight, 2 = Left curve, 3 = Right curve, 4 = "S" curve. |
| **lartpc**            | Width of the central reservation (in meters). |
| **larrout**           | Width of the carriageway assigned to vehicles (in meters). |
| **surf**              | Surface condition: -1 = Not specified, 1 = Normal, 2 = Wet, 3 = Puddles, 4 = Flooded, 5 = Snow, 6 = Mud, 7 = Icy, 8 = Fatty/oily, 9 = Other. |
| **infra**             | Infrastructure: -1 = Not specified, 0 = None, 1 = Tunnel, 2 = Bridge, 3 = Interchange or ramp, 4 = Railway, 5 = Crossing, 6 = Pedestrian area, 7 = Toll zone, 8 = Construction, 9 = Other. |
| **situ**              | Situation: -1 = Not specified, 0 = None, 1 = On roadway, 2 = On emergency lane, 3 = On shoulder, 4 = On sidewalk, 5 = On cycle path, 6 = On special route, 8 = Other. |
| **env1**              | Environment at the site of the accident (additional codings, see documentation if available). |
| **senc**              | Direction of movement: -1 = Not specified, 0 = Unknown, 1 = Ascending, 2 = Descending, 3 = No reference. |
| **catv**              | Category of vehicle involved: 01 = Bicycle, 07 = Passenger car, 13 = Heavy truck, 31 = Motorcycle, 37 = Bus, etc. (see full coding in documentation). |
| **occutc**            | Number of people present in the vehicle (for public transport vehicles). |
| **obs**               | Fixed obstacle hit: -1 = Not specified, 0 = Not applicable, 1 = Parked vehicle, 2 = Tree, 3 = Post, 4 = Rail guard, 5 = Concrete wall, 6 = Building, 7 = Fire hydrant, 8 = Lamp post, 9 = Other. |
| **obsm**              | Mobile obstacle hit: -1 = Not specified, 0 = None, 1 = Pedestrian, 2 = Vehicle, 3 = Animal, 4 = Other. |
| **choc**              | Initial point of impact: -1 = Not specified, 0 = None, 1 = Front, 2 = Front right, 3 = Front left, 4 = Rear, 5 = Rear right, 6 = Rear left, 7 = Side right, 8 = Side left. |
| **manv**              | Main maneuver before the accident: -1 = Not specified, 1 = No change, 2 = Stopped, 3 = Stationary, 4 = Reversing, 5 = Parking, 6 = Starting, 7 = Overtaking right, 8 = Overtaking left, 9 = Changing lanes, 10 = U-turn, 11 = Turning right, 12 = Turning left, 13 = Other. |
| **num_veh**           | Vehicle identifier in the accident, allows linking with occupants and users. Alphanumeric code. |
| **place**             | Position occupied by the user in the vehicle or accident: 10 = Pedestrian (see documentation for other positions/seats). |
| **catu**              | Category of user: 1 = Driver, 2 = Passenger, 3 = Pedestrian. |
| **grav**              | Severity of injury for the user: 1 = Unharmed, 2 = Killed, 3 = Hospitalized, 4 = Light injury. |
| **sexe**              | Gender of the user: 1 = Male, 2 = Female. |
| **trajet**            | Reason for the journey: -1 or 0 = Not specified, 1 = Home-work, 2 = Home-school, 3 = Shopping, 4 = Professional, 5 = Leisure, 9 = Other. |
| **secu**              | Safety equipment used by the user. Up to 2018: 0 = None, 1 = Seat belt, 2 = Helmet, 3 = Child seat, 4 = Reflective vest, 5 = Other (see secu1/secu2/secu3 for 2019+). |
| **locp**              | Location of the pedestrian: -1 = Not specified, 1 = On roadway, 2 = On shoulder, 3 = On crosswalk, 4 = On cycle path, 5 = On sidewalk, 6 = On special route, 7 = Other. |
| **actp**              | Action of the pedestrian: -1 = Not specified, 0 = Not applicable, 1 = Heading toward the vehicle, 2 = Moving away, 3 = Crossing, 4 = Waiting, 5 = Playing, 6 = Working, 9 = Other. |
| **etatp**             | Pedestrian's situation: -1 = Not specified, 1 = Alone, 2 = Accompanied, 3 = In group. |
| **an_nais**           | Year of birth of the user involved in the accident. |
| **num_veh_usag**      | Vehicle identifier (user table), alphanumeric code. |
| **vma**               | Maximum speed limit at the location and time of the accident (in km/h). |
| **id_vehicule**       | Unique identifier of the vehicle (in users and vehicles files). |
| **motor**             | Engine type: -1 = Not specified, 1 = Internal combustion, 2 = Hybrid, 3 = Electric, 4 = Hydrogen, 5 = Other. |
| **id_vehicule_usag**  | Unique vehicle identifier from the users file. |
| **secu1**             | 1st safety equipment used (from 2019 onwards). |
| **secu2**             | 2nd safety equipment used (from 2019 onwards). |
| **secu3**             | 3rd safety equipment used (from 2019 onwards). |
| **id_usager**         | Unique identifier of the user (in the users file). |

---

## Important Considerations

- **Runaway Users:**  
  Since 2021, data on users who fled the scene has been included.  
  This results in missing information such as sex, age, and injury severity (unharmed, slightly injured, hospitalized).

- **Missing Data:**  
  Most variables across the four main files may contain:
  - Empty cells  
  - Zeros  
  - Periods (`.`)  
  These indicate either that law enforcement did not provide the data or that the information was not considered relevant.  
  Some categories also use `-1` to denote 'not specified'.

- **Hospitalized Injured Persons:**  
  Since 2018, the classification of hospitalized injured persons has changed due to updates in the law enforcement data entry process.  
  As a result, this indicator is not comparable with earlier years and has not been certified by the Public Statistics Authority since 2019.

---

## This Notebook Overview

This notebook outlines the key steps involved in preparing the BAAC dataset for modeling accident severity:

1. **Merge all files**  
   Combine the four main datasets (`CaractÃ©ristiques`, `Lieux`, `VÃ©hicules`, `Usagers`) into a single table using the `num_acc` field as the unique accident identifier.

2. **Clean and normalize**  
   Handle missing or inconsistent data across fields. This includes:
   - Replacing placeholder values (`-1`, `.`, `0`) with proper missing value indicators
   - Standardizing data types (e.g., dates, coordinates)
   - Removing or flagging incomplete records

3. **Feature engineering**  
   Extract or derive new variables that may improve model accuracy, such as:
   - Aggregated weather and lighting conditions
   - Geographical zones or clusters based on GPS
   - Temporal variables like time of day, weekday/weekend, season
   - User demographics (age groups, sex, role)

Further steps will include model training, evaluation, and visualization of severity predictions and high-risk zones.


---

### Merge all files

In [1]:
#Load the packages 
import pandas as pd
import os
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
raw_path = "../data/raw"
processed_path = "../data/processed"
output_file = os.path.join(processed_path, "accidents_merged_2005_2023.csv")

#Some files have different delimiter and a typical French encoder ISO-8859-1
def robust_read_csv(fpath, encoding="ISO-8859-1"): 
    for delim in [",", ";", "\t"]:
        df = pd.read_csv(fpath, delimiter=delim, encoding=encoding, on_bad_lines="skip", low_memory=False)
        df.columns = df.columns.str.strip().str.lower().str.replace('"', '')
        # Rename for accident_id
        if 'accident_id' in df.columns:
            df = df.rename(columns={'accident_id': 'num_acc'}) #some datasets had different name for the num_acc key column
        if 'num_acc' in df.columns:
            return df
    print(f"!! Could not properly split columns for {fpath}, got: {df.columns.tolist()}")
    return df

all_years = []
for year in range(2005, 2024):
    files = {
        "carac": os.path.join(raw_path, f"caracteristiques_{year}.csv"),
        "lieux": os.path.join(raw_path, f"lieux_{year}.csv"),
        "vehic": os.path.join(raw_path, f"vehicules_{year}.csv"),
        "usag": os.path.join(raw_path, f"usagers_{year}.csv"),
    }
    dfs = {k: robust_read_csv(fpath) for k, fpath in files.items()}

    if all('num_acc' in df.columns for df in dfs.values()):
        df = dfs["carac"].merge(dfs["lieux"], on="num_acc", how="inner", suffixes=('', '_lieux')) #Keep only rows that have a match in both DataFrames
        df = df.merge(dfs["vehic"], on="num_acc", how="inner", suffixes=('', '_vehic'))
        df = df.merge(dfs["usag"], on="num_acc", how="inner", suffixes=('', '_usag'))
        df["an"] = year  # Replace 'an' column with the current year for unification, for some years it was 5 instead of 2005
        all_years.append(df)
    else:
        print(f"Skipping year {year}: 'num_acc' not found in all files.")

# Combine all years and save
merged_df = pd.concat(all_years, ignore_index=True)
os.makedirs(processed_path, exist_ok=True)
merged_df.to_csv(output_file, index=False)
print(f"Merged file saved as: {output_file}")

Merged file saved as: ../data/processed\accidents_merged_2005_2023.csv

### Quick data health check

In [4]:
display(merged_df.head(10))
#For the better understanding, I want to look at all columns, so I extract 100 random rows as a separate file
#df = pd.read_csv("../data/processed/accidents_merged_2005_2023.csv", low_memory=False)
#df_sample = df.sample(n=100, random_state=42)
#df_sample.to_csv("../data/processed/accidents_sample_100_random.csv", index=False)

,num_acc,an,mois,jour,hrmn,lum,agg,int,atm,col,...,an_nais,num_veh_usag,vma,id_vehicule,motor,id_vehicule_usag,secu1,secu2,secu3,id_usager
0,200500000001,2005,1,12,1900,3,2,1,1.0,3.0,...,1976.0,A01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,200500000001,2005,1,12,1900,3,2,1,1.0,3.0,...,1968.0,B02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,200500000001,2005,1,12,1900,3,2,1,1.0,3.0,...,1964.0,B02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,200500000001,2005,1,12,1900,3,2,1,1.0,3.0,...,2004.0,B02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,200500000001,2005,1,12,1900,3,2,1,1.0,3.0,...,1998.0,B02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,200500000001,2005,1,12,1900,3,2,1,1.0,3.0,...,1991.0,B02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,200500000001,2005,1,12,1900,3,2,1,1.0,3.0,...,1976.0,A01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,200500000001,2005,1,12,1900,3,2,1,1.0,3.0,...,1968.0,B02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,200500000001,2005,1,12,1900,3,2,1,1.0,3.0,...,1964.0,B02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,200500000001,2005,1,12,1900,3,2,1,1.0,3.0,...,2004.0,B02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5314184 entries, 0 to 5314183
Data columns (total 60 columns):
 #   Column            Dtype
---  ------            -----
 0   num_acc           int64
 1   an                int64
 2   mois              int64
 3   jour              int64
 4   hrmn              object
 5   lum               int64
 6   agg               int64
 7   int               int64
 8   atm               float64
 9   col               float64
 10  com               object
 11  adr               object
 12  gps               object
 13  lat               object
 14  long              object
 15  dep               object
 16  catr              float64
 17  voie              object
 18  v1                float64
 19  v2                object
 20  circ              float64
 21  nbv               object
 22  pr                object
 23  pr1               object
 24  vosp              float64
 25  prof              float64
 26  plan              float64
 27  lartpc            object
 28  larrout           object
 29  surf              float64
 30  infra             float64
 31  situ              float64
 32  env1              float64
 33  senc              float64
 34  catv              int64
 35  occutc            float64
 36  obs               float64
 37  obsm              float64
 38  choc              float64
 39  manv              float64
 40  num_veh           object
 41  place             float64
 42  catu              int64
 43  grav              int64
 44  sexe              int64
 45  trajet            float64
 46  secu              float64
 47  locp              float64
 48  actp              object
 49  etatp             float64
 50  an_nais           float64
 51  num_veh_usag      object
 52  vma               float64
 53  id_vehicule       object
 54  motor             float64
 55  id_vehicule_usag  object
 56  secu1             float64
 57  secu2             float64
 58  secu3             float64
 59  id_usager         object
dtypes: float64(29), int64(11), object(20)
memory usage: 2.4+ GB

Unique value counts per year

In [7]:
print(merged_df['an'].value_counts())

an
2005    374561
2006    362507
2007    356228
2008    322196
2009    311706
2023    309341
2010    288112
2011    281675
2012    263194
2017    260392
2016    257286
2019    253488
2014    248642
2018    248406
2021    248187
2015    245706
2013    242163
2022    241487
2020    198907
Name: count, dtype: int64

In [8]:
merged_df.describe()

,num_acc,an,mois,jour,lum,agg,int,atm,col,catr,...,trajet,secu,locp,etatp,an_nais,vma,motor,secu1,secu2,secu3
count,5.314184e+06,5.314184e+06,5.314184e+06,5.314184e+06,5.314184e+06,5.314184e+06,5.314184e+06,5.313921e+06,5.314089e+06,5.314182e+06,...,5.313106e+06,4.002731e+06,5.194985e+06,5.194893e+06,5.292557e+06,1.251410e+06,1.251410e+06,1.251410e+06,1.251410e+06,1.251410e+06
mean,2.013328e+11,2.013328e+03,6.701324e+00,1.558823e+01,1.860729e+00,1.616256e+00,1.794296e+00,1.577097e+00,3.598634e+00,3.223352e+00,...,3.090887e+00,1.690227e+01,1.232997e-02,-1.731289e-01,1.975504e+03,6.181612e+01,1.219787e+00,1.901712e+00,1.102819e+00,-9.200246e-01
std,5.659027e+08,5.659080e+00,3.374824e+00,8.759571e+00,1.470012e+00,4.862969e-01,1.641354e+00,1.622932e+00,1.711043e+00,1.261386e+00,...,2.700352e+00,1.704492e+01,7.889048e-01,5.367348e-01,1.855589e+01,2.697713e+01,1.038167e+00,2.239605e+00,3.092796e+00,8.557038e-01
min,2.005000e+11,2.005000e+03,1.000000e+00,1.000000e+00,-1.000000e+00,1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,1.000000e+00,...,-1.000000e+00,0.000000e+00,-1.000000e+00,-1.000000e+00,1.896000e+03,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00,-1.000000e+00
25%,2.008001e+11,2.008000e+03,4.000000e+00,8.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00,...,0.000000e+00,1.100000e+01,0.000000e+00,0.000000e+00,1.963000e+03,5.000000e+01,1.000000e+00,1.000000e+00,-1.000000e+00,-1.000000e+00
50%,2.013000e+11,2.013000e+03,7.000000e+00,1.600000e+01,1.000000e+00,2.000000e+00,1.000000e+00,1.000000e+00,3.000000e+00,3.000000e+00,...,4.000000e+00,1.100000e+01,0.000000e+00,0.000000e+00,1.978000e+03,5.000000e+01,1.000000e+00,1.000000e+00,0.000000e+00,-1.000000e+00
75%,2.018000e+11,2.018000e+03,1.000000e+01,2.300000e+01,2.000000e+00,2.000000e+00,2.000000e+00,1.000000e+00,5.000000e+00,4.000000e+00,...,5.000000e+00,2.100000e+01,0.000000e+00,0.000000e+00,1.989000e+03,8.000000e+01,1.000000e+00,2.000000e+00,0.000000e+00,-1.000000e+00
max,2.023001e+11,2.023000e+03,1.200000e+01,3.100000e+01,5.000000e+00,2.000000e+00,9.000000e+00,9.000000e+00,7.000000e+00,9.000000e+00,...,9.000000e+00,9.300000e+01,9.000000e+00,3.000000e+00,2.023000e+03,9.010000e+02,6.000000e+00,9.000000e+00,9.000000e+00,9.000000e+00

### Remove full row duplicates

In [10]:
print(merged_df.duplicated().sum())
merged_df = merged_df.drop_duplicates()

4644

### Adjustment of some column types

In [38]:
categorical_columns = [
    "lum", "agg", "int", "atm", "col", "catr", "circ", "prof", "plan", "surf",
    "infra", "situ", "env1", "senc", "catv", "catu", "grav", "sexe", "trajet",
    "secu", "locp", "etatp", "vosp", "obs", "obsm", "choc", "manv", "motor",
    "secu1", "secu2", "secu3", "place", "nbv", "actp", "pr", "pr1"
]

string_columns = [
    "com", "dep", "voie", "v2", "adr", "larrout",
    "lat", "long", "gps", "num_veh", "num_veh_usag", "id_vehicule",
    "id_vehicule_usag", "id_usager"
]

int_columns = ["an", "mois", "jour", "an_nais", "vma", "num_acc", "secu1", "secu2", "secu3", "secu"]
time_columns = ["hrmn"]

# Apply conversions
for col in categorical_columns:
    if col in merged_df.columns:
        merged_df[col] = merged_df[col].astype("category")

for col in string_columns:
    if col in merged_df.columns:
        merged_df[col] = merged_df[col].astype("string")

for col in int_columns:
    if col in merged_df.columns:
        merged_df[col] = pd.to_numeric(merged_df[col], errors='coerce').astype("Int64")

for col in time_columns:
    if col in merged_df.columns:
        merged_df[col] = merged_df[col].astype(str)

# Convert lartpc to float
if "lartpc" in merged_df.columns:
    merged_df["lartpc"] = pd.to_numeric(merged_df["lartpc"], errors="coerce")

### Creating daytime

In [15]:
import re

def clean_hrmn(val):
    if pd.isna(val):
        return "0000"
    
    val = str(val).strip()
    
    # Format: HH:MM
    if re.match(r"^\d{1,2}:\d{2}$", val):
        return val.replace(":", "").zfill(4)
    
    # Format: HHMM
    if val.isdigit() and len(val) in [3, 4]:
        return val.zfill(4)
    
    # Minute-only entry like "45" -> "0045"
    if val.isdigit() and len(val) <= 2:
        return "00" + val.zfill(2)
    
    # Invalid or unrecognized format
    return "0000"

merged_df["hrmn_clean"] = merged_df["hrmn"].apply(clean_hrmn)

merged_df["datetime"] = pd.to_datetime(
    merged_df["an"].astype(str) + "-" +
    merged_df["mois"].astype(str).str.zfill(2) + "-" +
    merged_df["jour"].astype(str).str.zfill(2) + " " +
    merged_df["hrmn_clean"].str[:2] + ":" + merged_df["hrmn_clean"].str[2:],
    format="%Y-%m-%d %H:%M",
    errors="coerce"
)

merged_df["hour"] = merged_df["datetime"].dt.hour.astype("Int64")
merged_df["dayofweek"] = merged_df["datetime"].dt.dayofweek.astype("Int64")
merged_df["weekday_name"] = merged_df["datetime"].dt.day_name().astype("category")

### Adjust coordinates

In [17]:
# Function to normalize value:
# - if string with comma, convert to float
# - if integer-looking, shift decimal
def normalize_gps_value(val):
    try:
        val_str = str(val).strip()
        # Case 1: comma decimal (e.g., "45,73306000")
        if ',' in val_str:
            return float(val_str.replace(",", "."))
        # Case 2: integer-style needing decimal shift
        val_float = float(val_str)
        if val_float > 1e5:
            shifted = str(int(val_float)).zfill(7)
            return float(shifted[:2] + '.' + shifted[2:])
        return val_float
    except:
        return np.nan

# Apply normalization
merged_df["lat_clean"] = merged_df["lat"].apply(normalize_gps_value)
merged_df["long_clean"] = merged_df["long"].apply(normalize_gps_value)

# Build GPS string, return NaN if either value is 0.0
def combine_gps(row):
    lat = row["lat_clean"]
    lon = row["long_clean"]
    if pd.notna(lat) and pd.notna(lon) and not (lat == 0.0 and lon == 0.0):
        return f"{lat:.5f},{lon:.5f}"
    return np.nan

merged_df["gps_combined"] = merged_df.apply(combine_gps, axis=1)

### Estimation of the missing GPS: Combined Location Strategy (GPS + Administrative Fallback)

To ensure comprehensive location coverage in the dataset, I apply a **combined strategy** that uses GPS data when available, and falls back to administrative centroids (`com` / `dep`) when GPS is missing.

**1. Use GPS Where Available**  
Leverage the existing `gps_combined`, `lat`, and `long` columns. These values are used directly when present and valid.

**2. Fill Missing Locations Using Commune Centroids**  
When GPS data is missing, we use the `dep` (department code) and `com` (commune code) to retrieve the geographic **centroid of the municipality**. This provides a reasonable location approximation.

To support this strategy, a **commune centroid dataset** is needed ([20230823-communes-departement-region.csv](https://www.data.gouv.fr/en/datasets/communes-de-france-base-des-codes-postaux/))

This file includes:

- `code_commune_INSEE` â†’ Commune code (`com`)
- `code_departement` â†’ Department code (`dep`)
- `nom_commune` â†’ Name of the commune
- `latitude` â†’ Latitude of the commune centroid
- `longitude` â†’ Longitude of the commune centroid


This dataset enables geolocation of accident records that lack GPS coordinates, ensuring that every row has a spatial reference for mapping and analysis.

In [19]:
# produce clean INSEE code 

merged_df["dep"] = pd.to_numeric(merged_df["dep"], errors="coerce")
merged_df["com"] = pd.to_numeric(merged_df["com"], errors="coerce")

def clean_dep(dep):
    try:
        dep_str = str(int(float(dep))).zfill(3)
        if len(dep_str) > 2 and dep_str.endswith("0"):
            return dep_str[:2]
        return dep_str
    except:
        return np.nan

def clean_com(com):
    try:
        return str(int(float(com)))[-3:].zfill(3)
    except:
        return np.nan

def build_insee(row):
    dep_clean = clean_dep(row["dep"])
    com_clean = clean_com(row["com"])
    if pd.notna(dep_clean) and pd.notna(com_clean):
        return dep_clean + com_clean
    return np.nan

merged_df["insee_code"] = merged_df.apply(build_insee, axis=1)

print(merged_df[["dep", "com", "insee_code"]].head())

#Create a Paris INSEE code correction map
paris_fix = {f"750{str(i).zfill(2)}": f"751{str(i).zfill(2)}" for i in range(1, 21)}
merged_df["insee_code"] = merged_df["insee_code"].replace(paris_fix)

   dep   com insee_code
0  590  11.0      59011
1  590  11.0      59011
2  590  11.0      59011
3  590  11.0      59011
4  590  11.0      59011

In [20]:
centroids = pd.read_csv(
    "../data/raw/20230823-communes-departement-region.csv",
    sep=",", encoding="utf-8",
    usecols=["code_commune_INSEE", "latitude", "longitude"]
)

centroids.rename(columns={
    "code_commune_INSEE": "insee_code",
    "latitude": "lat_centroid",
    "longitude": "long_centroid"
}, inplace=True)

centroids["insee_code"] = centroids["insee_code"].astype(str).str.zfill(5)

merged_df = merged_df.merge(centroids, how="left", on="insee_code")

merged_df["gps_combined"] = merged_df["gps_combined"].astype(str).replace("nan", np.nan)

# Use original gps_combined if present; otherwise, use centroid fallback
def choose_best_gps(row):
    if pd.notna(row.get("gps_combined")) and row["gps_combined"] != "nan":
        return row["gps_combined"]
    elif pd.notna(row.get("lat_centroid")) and pd.notna(row.get("long_centroid")):
        return f"{row['lat_centroid']},{row['long_centroid']}"
    else:
        return np.nan

merged_df["gps_combined_final"] = merged_df.apply(choose_best_gps, axis=1)

# Coverage report
coverage = merged_df["gps_combined_final"].notna().mean() * 100
print(f"âœ… Final GPS coverage (original or centroid): {coverage:.2f}%")

âœ… Final GPS coverage (original or centroid): 96.90%

### Safety Equipment (`secu`, `secu1`, `secu2`, `secu3`)

These columns describe the presence and usage of safety equipment by road users in accidents. The format differs before and after **2019**.

---

#### Before 2019 â€” `secu` (2-digit code)

- `secu` is a 2-character code:
  - **First digit** = type of equipment
  - **Second digit** = usage status  
    `1 = used`, `2 = not used`, `3 = not determinable`

Only codes ending in `1` (used) are retained for analysis.

---

#### From 2019 â€” `secu1`, `secu2`, `secu3`

These represent up to three types of safety equipment used per user.

Each code is a single integer:

| Code | Meaning                              |
|------|--------------------------------------|
| -1   | Not specified                        |
| 0    | No equipment                         |
| 1    | Belt                                 |
| 2    | Helmet                               |
| 3    | Child safety device                  |
| 4    | Reflective vest                      |
| 5    | Airbag (2/3-wheel vehicles)          |
| 6    | Gloves (2/3-wheel vehicles)          |
| 7    | Gloves + Airbag (2/3-wheel vehicles) |
| 8    | Not determinable                     |
| 9    | Other                                |

Codes `-1`, and `8` are treated as **missing or invalid**.

---

#### Summary

- Summary columns are created for key items:  
  `belt_status`, `helmet_status`, `child_device_status`, `reflective_vest_status`  
  with values:
  - `1` â†’ used
  - `0` â†’ not used
  - `-1` â†’ not specified

In [40]:
def get_equipment_status(row, target_code):
    # === Post-2019 ===
    if not pd.isna(row.get("secu1")):
        values = [row.get(f"secu{i}") for i in range(1, 4)]
        if any(v == target_code for v in values):
            return 1  # used
        if all(v in [-1, 8, None, np.nan] for v in values):
            return -1  # not specified
        return 0  # not used

    # === Pre-2019 ===
    secu_val = row.get("secu")
    if pd.notna(secu_val):
        s = str(secu_val).strip()
        if len(s) == 2 and s[0] == str(target_code):
            if s[1] == "1":
                return 1
            elif s[1] == "2":
                return 0
            elif s[1] == "3":
                return -1
    return -1
    
merged_df["belt_status"] = merged_df.apply(get_equipment_status, target_code=1, axis=1)
merged_df["helmet_status"] = merged_df.apply(get_equipment_status, target_code=2, axis=1)
merged_df["child_device_status"] = merged_df.apply(get_equipment_status, target_code=3, axis=1)
merged_df["reflective_vest_status"] = merged_df.apply(get_equipment_status, target_code=4, axis=1)

### Check the data balance and calculate the proportion of the most common value per column. 
Flag as "Unbalanced" if that value exceeds 70%.

In [48]:
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
balance_all_df = pd.DataFrame([
    {
        "Column": col,
        "Most Frequent Value %": round((vc := merged_df[col].value_counts(normalize=True, dropna=False)).iloc[0] * 100, 2),
        "Balance": "Unbalanced" if vc.iloc[0] > 0.7 else "Balanced",
        "Most Frequent Value": vc.idxmax() if vc.iloc[0] > 0.7 else None
    }
    for col in merged_df.columns
    if not merged_df[col].value_counts(normalize=True, dropna=False).empty
])
print(balance_all_df)

                    Column  Most Frequent Value %     Balance  \
0                  num_acc                   0.12    Balanced
1                       an                   7.81    Balanced
2                     mois                   9.52    Balanced
3                     jour                   3.46    Balanced
4                     hrmn                   1.34    Balanced
5                      lum                  69.97    Balanced
6                      agg                  66.10    Balanced
7                      int                  68.28    Balanced
8                      atm                  81.67  Unbalanced
9                      col                  33.24    Balanced
10                     com                   4.92    Balanced
11                     adr                  10.72    Balanced
12                     gps                  61.60    Balanced
13                     lat                  45.71    Balanced
14                    long                  45.71    Balanced
15                     dep                   7.04    Balanced
16                    catr                  49.33    Balanced
17                    voie                  40.50    Balanced
18                      v1                  53.97    Balanced
19                      v2                  95.63  Unbalanced
20                    circ                  59.50    Balanced
21                     nbv                  50.07    Balanced
22                      pr                  43.40    Balanced
23                     pr1                  43.54    Balanced
24                    vosp                  92.05  Unbalanced
25                    prof                  77.97  Unbalanced
26                    plan                  80.75  Unbalanced
27                  lartpc                  64.63    Balanced
28                 larrout                  18.42    Balanced
29                    surf                  79.71  Unbalanced
30                   infra                  87.24  Unbalanced
31                    situ                  89.16  Unbalanced
32                    env1                  47.71    Balanced
33                    senc                  71.37  Unbalanced
34                    catv                  66.03    Balanced
35                  occutc                  82.62  Unbalanced
36                     obs                  89.84  Unbalanced
37                    obsm                  73.52  Unbalanced
38                    choc                  36.90    Balanced
39                    manv                  42.75    Balanced
40                 num_veh                  52.12    Balanced
41                   place                  78.23  Unbalanced
42                    catu                  78.15  Unbalanced
43                    grav                  44.66    Balanced
44                    sexe                  66.88    Balanced
45                  trajet                  35.77    Balanced
46                    secu                  49.43    Balanced
47                    locp                  85.03  Unbalanced
48                    actp                  77.07  Unbalanced
49                   etatp                  77.10  Unbalanced
50                 an_nais                   2.56    Balanced
51            num_veh_usag                  51.39    Balanced
52                     vma                  83.38  Unbalanced
53             id_vehicule                  83.38  Unbalanced
54                   motor                  83.38  Unbalanced
55        id_vehicule_usag                  83.38  Unbalanced
56                   secu1                  83.38  Unbalanced
57                   secu2                  83.38  Unbalanced
58                   secu3                  83.38  Unbalanced
59               id_usager                  89.39  Unbalanced
60              hrmn_clean                   1.58    Balanced
61                datetime                   0.12    Balanced
62                    hour                   9.38    Balanced
63               dayofweek                  16.91    Balanced
64            weekday_name                  16.91    Balanced
65               lat_clean                  45.71    Balanced
66              long_clean                  45.97    Balanced
67            gps_combined                  54.36    Balanced
68              insee_code                   4.83    Balanced
69            lat_centroid                  20.51    Balanced
70           long_centroid                  20.51    Balanced
71      gps_combined_final                   4.35    Balanced
72             belt_status                  59.98    Balanced
73           helmet_status                  68.63    Balanced
74     child_device_status                  83.65  Unbalanced
75  reflective_vest_status                  84.12  Unbalanced

   Most Frequent Value
0                 None
1                 None
2                 None
3                 None
4                 None
5                 None
6                 None
7                 None
8                  1.0
9                 None
10                None
11                None
12                None
13                None
14                None
15                None
16                None
17                None
18                None
19                <NA>
20                None
21                None
22                None
23                None
24                 0.0
25                 1.0
26                 1.0
27                None
28                None
29                 1.0
30                 0.0
31                 1.0
32                None
33                 0.0
34                None
35                 0.0
36                 0.0
37                 2.0
38                None
39                None
40                None
41                 1.0
42                   1
43                None
44                None
45                None
46                None
47                 0.0
48                   0
49                 0.0
50                None
51                None
52                <NA>
53                <NA>
54                 NaN
55                <NA>
56                <NA>
57                <NA>
58                <NA>
59                <NA>
60                None
61                None
62                None
63                None
64                None
65                None
66                None
67                None
68                None
69                None
70                None
71                None
72                None
73                None
74                  -1
75                  -1

### Handling the missing data
Check the missing fields

In [50]:
# Replace actual NA values and string 'nan' with np.nan
pd.set_option("display.max_columns", None)
pd.set_option("display.max_rows", None)
merged_df = merged_df.apply(lambda col: col.map(lambda x: np.nan if pd.isna(x) or str(x).strip().lower() == "nan" else x))

missing_percent = merged_df.isnull().mean().multiply(100).round(2)
print(missing_percent)

num_acc                    0.00
an                         0.00
mois                       0.00
jour                       0.00
hrmn                       0.00
lum                        0.00
agg                        0.00
int                        0.00
atm                        0.00
col                        0.00
com                        0.17
adr                       10.72
gps                       61.60
lat                       45.71
long                      45.71
dep                        0.17
catr                       0.00
voie                       8.20
v1                        53.97
v2                        95.63
circ                       0.13
nbv                        0.25
pr                        43.40
pr1                       43.54
vosp                       0.22
prof                       0.16
plan                       0.19
lartpc                    21.25
larrout                    7.84
surf                       0.16
infra                      0.40
situ                       0.38
env1                      17.02
senc                       0.01
catv                       0.00
occutc                    16.44
obs                        0.09
obsm                       0.04
choc                       0.03
manv                       0.06
num_veh                    0.00
place                      2.68
catu                       0.00
grav                       0.00
sexe                       0.00
trajet                     0.02
secu                      17.77
locp                       2.53
actp                       2.53
etatp                      2.53
an_nais                    0.31
num_veh_usag               0.00
vma                       83.38
id_vehicule               83.38
motor                     83.38
id_vehicule_usag          83.38
secu1                     83.38
secu2                     83.38
secu3                     83.38
id_usager                 89.39
hrmn_clean                 0.00
datetime                   0.00
hour                       0.00
dayofweek                  0.00
weekday_name               0.00
lat_clean                 45.71
long_clean                45.97
gps_combined              54.36
insee_code                 0.17
lat_centroid              20.51
long_centroid             20.51
gps_combined_final         3.10
belt_status                0.00
helmet_status              0.00
child_device_status        0.00
reflective_vest_status     0.00
dtype: float64

Drop some categories with many NaN fields that cannot be used for the further analysis

In [53]:
columns_to_drop = [
    "com", "adr", "gps", "lat", "long", "dep", "v1", "v2", "pr", "pr1", "lartpc",
    "env1", "occutc", "secu", "num_veh_usag", "vma", "id_vehicule", "motor",
    "id_vehicule_usag", "secu1", "secu2", "secu3", "id_usager", "lat_clean",
    "long_clean", "gps_combined", "lat_centroid", "long_centroid"
]

merged_df = merged_df.drop(columns=[col for col in columns_to_drop if col in merged_df.columns])

print("Remaining columns:", merged_df.columns.tolist())

Remaining columns: ['num_acc', 'an', 'mois', 'jour', 'hrmn', 'lum', 'agg', 'int', 'atm', 'col', 'catr', 'voie', 'circ', 'nbv', 'vosp', 'prof', 'plan', 'larrout', 'surf', 'infra', 'situ', 'senc', 'catv', 'obs', 'obsm', 'choc', 'manv', 'num_veh', 'place', 'catu', 'grav', 'sexe', 'trajet', 'locp', 'actp', 'etatp', 'an_nais', 'hrmn_clean', 'datetime', 'hour', 'dayofweek', 'weekday_name', 'insee_code', 'gps_combined_final', 'belt_status', 'helmet_status', 'child_device_status', 'reflective_vest_status']

### Extract processed csv

In [56]:
output_path = "../data/processed/accidents_processed.csv"
os.makedirs(os.path.dirname(output_path), exist_ok=True)
merged_df.to_csv(output_path, index=False)

print(f"âœ… Processed data saved to: {output_path}")

âœ… Processed data saved to: ../data/processed/accidents_processed.csv